*{
  box-sizing: border-box;
}

.body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header{
  height: 100px;
}

.content{
  display: flex;
  flex: 1;
  &__nav{
    width: 150px;

  }
  &__main{
    flex: 1;
  }
  &__right{
    width: 200px;


  }
}

.footer{
  height: 60px;

}